.icon>img {
    width: 125px;
    margin: 15px;
}
#enemyDiv {
    background-color: pink;
}
#userDiv {
    background-color: rgb(153, 248, 153);
}
.hstay {
    height: 225px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}
button {
    background-color: pink;
    width: 150px;
}
.stat {
    margin: 15px;
    font-size: 24px;
}
.spacer {
    width: 150px;
}
.statRow {
    display: flex;
    justify-content: center;
    align-content: center;

}
h1 {
    text-align: center;
    text-justify: center;
}
h2 {
    text-align: center;
    text-justify: center;
}